#loading {
    background: url('ajax-loader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

h1{
	/* color:#0000FF; */
}

h2{
	text-align: center;
	font-family: inherit;
}

.footerNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: unset;
    background-color: #f2f2f2;
    text-align: right;
}

.welcomeDiv {
    text-align: center;
    font-family: monospace;
    margin-top: 100px;	
}

.moreInfo {
    font-style: italic;
    background: beige;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    padding: 20px;
}

ul.listMenu {
    font-size: 18px;
    padding-top: 12px;
}

.flashCard {
    background: beige;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    padding: 20px;	
    margin: 10px;
}

.flashCardImage {
	width: 100%;
}


/* panel collapse toggle */

.center {
	text-align: center;
}

/* a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
 */
 
 .cardControlRow {
 	margin-right: -15px;
    margin-left: -15px;
    /* border: solid grey 1px; */
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
 }
 
.controls {
	margin-bottom: 20px;
}

.collapse-group {
	padding: 10px;
	margin-bottom: 10px;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #b35900;
    border: none;
    padding: 18px;
}


/*
.panel-title .trigger .collapseGlyph:before {
	content: '\e082';
	font-family: 'Glyphicons Halflings';
	vertical-align: text-bottom;
}

.panel-title .trigger.collapsed .collapseGlyph:before {
	content: '\e081';
}
 */
 
 
 
.close-button {
	float: right;
}

.addCardDiv {
	text-align: center;
}

.card-back-text {
	/* overflow-x: scroll; */
	padding: 10px;
} 


.panel-body {
	padding: 0px;
}

.codeText {
	width: 200%;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word; 
}

.cardControl {
	font-size: 13px;
    color: #cccccc;
    /* padding: 0px 10px 0px 10px; */
}

.editCardGlyph {
	cursor: pointer;
	font-size: 10px;
	float: right;
}

.card-back-text img {
    max-width: 100%;
    height: auto;
}

img.img-circle.profile-pic {
    width: 100%;
    max-width: 200px;
}


/* text editor */

 a.jqte_tool_label.unselectable {
    height: 21px !important;
    padding: 0px 5px 0px 5px !important;
}

.jqte {
    border: none !important;
    margin-top: 5px !important;
    width: 100%;
}

.jqte_editor img {
    max-width: 100%;
    height: auto;
}
